 <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="_Oving8.ipynb">Øving 8</a>
    </div>
    <ul class="nav navbar-nav">
    <li ><a href="Matplotlib.ipynb">Matplotlib</a></li>
    <li ><a href="Assorterte%20Eksamensoppgaver.ipynb">Assorterte Eksamensoppgaver</a></li>
    <li ><a href="Sudoku.ipynb">Sudoku</a></li>
    <li ><a href="numpy-arrays%20og%20matplotlib.ipynb">Numpy-arrays og matplotlib</a></li>
    <li class="active"><a href="Bokanalyse%20med%20plotting.ipynb">Bokanalyse med plotting</a></li>
    <li ><a href="Sjakk.ipynb">Sjakk</a></li>
    </ul>
  </div>
</nav>


# Assorterte eksamensoppgaver
**NB:** Du må gjøre oppgaver som tilsvarer minst 100 vektingspoeng, altså 100%. Hele oppgavesettet tilsvarer 140%.





## Eksamen 2012

## Oppgave 2 -  Grunnleggende programmering (20%)

***I denne versjonen har vi fjernet teorien som telte 25% av eksamen. Topp prosentscore er da altså 75%.***

Du kan anta at alle fuksjonene mottar gyldige input-verdier.

### Oppgave 2 a) (5%)

Lag funksjonen **summerOlympics** som har inn-parametere **firstYear** og **lastYear**. Funksjonen skal returnere variabelen **years**,som er ei list emed alle OL-årene fra og med **firstYear** til og med **lastYear** (inkludert framtidige planlagte år for sommer-OL). Fra og med OL i London i 1948,har sommer-OL vært arrangert hvert fjerde år. Du kan anta at **firstYear** ≥ 1948.

Eksempel på kjøring av funksjonen og hva den returnerer:

```python
>>>years = summerOlympics(1999,2012)
>>> years
[2000, 2004, 2008, 2012]
>>>
```

In [ ]:
#skriv koden din her

### Oppgave 2b) (7.5%)

Lag funksjonen **`findAge`** som har inn-parametere **bYear**, **bMonth**, **bDay** som er tre heltall som beskriver dato for en fødselsdag. Funksjonen skal returnere **age** som beskriver hvor gammel en person med oppgitt fødselsdag (**bYear**, **bMonth** og **bDay**) er i dag angitt i hele år.

For å finne år, måned og dag for i dag ***skal du bruke*** en eksisterende funksjon som heter `current_date()`.Funksjonen returnerer tre heltall på formatet **(yyyy,mm,dd)**. 

Eksempel på bruk av funksjonen **current_date**:  
`(yyyy,mm,dd)= current_date()` gir i dag yyyy=2012,mm=12, dd=11.

Eksempel på kjøring av funksjonen **`findAge`** og hva den returnerer:

```python
>>> age = findAge(2000,12,15)
>>> age
11
>>>
```

In [ ]:
from datetime import datetime
def current_date():
    yyyy = int(datetime.today().strftime('%Y'))
    mm = int(datetime.today().strftime('%m'))
    dd = int(datetime.today().strftime('%d'))
    return yyyy,mm,dd

In [ ]:
#skriv koden din her

### Oppgave 2c) (7.5 %)

Lag en funksjon **`printAgeDiff`** som tar en parameter **table**,som er en to-dimensjonal tabell (liste av lister) der hver rekke beskriver personer med fornavn, etternavn, fødselsår, fødselsmåned og fødselsdato. Funksjonen skal bruke funksjonen **`findAge`** fra oppgave 2b til å sammenlikne alderen i hele år på etterfølgende personer i tabellen (rekke for rekke) og gjøre følgende:

* Hvis person n og person n+1 har samme alder angitt i antall hele år, skal følgende skrives ut til skjerm:  
``<fornavnn> <etternavnn> is at the same age as <fornavnn+1> <etternavnn+1>``
* Hvis person n er eldre enn person n+1 angitt i antall hele år, skal følgende skrives ut til skjerm:  
``<fornavnn> <etternavnn> is older than <fornavnn+1> <etternavn n+1>``
* Hvis person n er yngre enn person n+1 angitt i antall hele år, skal følgende skrives ut til skjerm:  
``<fornavnn> <etternavnn> is younger than <fornavnn+1> <etternavnn+1>``

Eksempel på en to-dimensjonal tabell som beskriver fire kjente personer:

In [ ]:
table=[['Justin','Bieber',1994,3,1],
       ['Donald','Duck',1934,8,1],
       ['George','Clooney',1961,5,6],
       ['Eddie','Murphy',1961,4,3]]

Eksempel på kjøring av funksjonen **`printAgeDiff`** med tabellen **table**, som inneholder listene for bieber, donald, george og eddie:

```python
>>>printAgeDiff(table)
Justin Bieber is younger than Donald Duck
Donald Duck is older than George Clooney
George Clooney is at the same age as Eddie Murphy
>>>
```

In [ ]:
#skriv koden din her

## Oppgave 3 - Kodeforståelse (15%)

### Oppgave 3a) (5%)

Hva returneres hvis funksjonen `fu1(1234)`med kode som vist under kjøres?

```python
def fu1(a):
    r = 0
    while(a>0):
        s = a%10
        r = r + s
        a = (a-s)/10
return r
```

Svar: <dobbeltklikk for å svare>

### Oppgave 3b) (5%)

Hva blir verdiene til a,b,c og d etter kallet  
`(a, b, c, d) = fu2(’Ut pa tur, aldri sur’)`  
med koden som vist under?

```python
    def fu2(input):
        r = 0
        s = 0
        t = 0
        u = 0
        n = len(input)
        for c in input:
            if(c.isalpha()):
                r = r + 1
            elif(c.isdigit()):
                s = s + 1
            elif(c==' '):
                t = t + 1
            else:
                u = u + 1
        r = 100*r/n
        s = 100*s/n
        t = 100*t/n
        u = 100*u/n
        return(r,s,t,u)
```

Svar: <dobbeltklikk for å svare>

### Oppgave 3c) (5%)

Hva returneres av kallet `fu3(100)`med koden som vist under?
```python
def fu3(a):
    if(a<=2):
        r = 1
    else:
        r = 1 + fu3(a/2)
    return r
```

Svar: <dobbeltklikk for å svare>

## Oppgave 4 - Programmering (40%)

Denne oppgaven fokuserer på behandling av data fra fire vær sensorer som måler en verdi per døgn av følgende data:

* Temperatur: Angis som heltall i Celsius fra -50C til + 50C
* Nedbør: Angis som heltall i mm nedbør per døgn fra 0 til 2000mm
* Luftfuktighet. Angis som heltall fra 0 til 100%
* Vindstyrke: Angis som heltall fra 0 til 50 meter per sekund

Hvis ikke noe annet er oppgitt kan du anta korrekt input til funksjonene.

### Oppgave 4a) (5%)

Lag en funksjon **`cold_days`** som tar imot parameteren **templist**, som en liste av temperaturer, og returnerer variabelen **days**,som angir antall døgn der temperaturen var under 0 grader.

Eksempel på kall av funksjonen og hva den returnerer:
```python
>>> days = cold_days([1,-5,3,0,-6,-3,15,0])
>>> days
3
>>>
```

In [ ]:
#skriv koden din her

### Oppgave 4 b) (5 %)

Lag en funksjon **`cap_data`** som har inn-parameterne **array** (liste med data), **min_value** (minimumsverdi) og **max_value** (maksimumsverdi). Funksjonen skal returnere ei ny liste **result** der alle elementer i lista **array** som har verdi mindre enn **min_value** skal settes lik **min_value** og alle elementer i lista **array** som har verdi høyere enn **max_value** skal settes lik **max_value**.

Eksempel på kall av funksjonen og hva den returnerer:
```python
>>>A=[-70,30,0,90,23,-12,95,12]
>>>result = cap_data(A,-50,50)
>>>result
[-50,30,0,50,23,-12,50,12]
>>>
```

Legg merke til hvilke verdier som endres.

In [ ]:
#skriv koden din her

### Oppgave 4c) (10%)

Lag en funksjon **`generate_testdatasom`** har inn-parameterne **N**, **min_value** (minimumsverdi)og **max_value** (maksimumsverdi). Funksjonen skal returnere tabellen **result** som består av **N** unike *tall* (heltall) som blir trukket tilfeldig der {**min_value** ≤ *tall* ≤ **max_value**}. Unik betyr her at ingen elementer i tabellen **result** skal ha samme verdi. Du kan anta at antall mulige verdier i intervallet tallet blir trukket fra alltid vil være større enn **N**.

Eksempel på kall av funksjonen og hva den returnerer:
```python
>>> result = generate_testdata(10,-5,10)
>>> result
[-5,3,7,9,-3,4,2,0,-1,5]
>>>
```

In [ ]:
#skriv koden din her

### Oppgave 4d) (5%)

Lag en funksjon **`create_db`** som har inn-parameterne **temp**, **rain**, **humidity** og **wind**,som er fire tabeller av samme størrelse (likt antall elementer) med data for temperatur, nedbør, luftfuktighet og vind.

Funksjonen skal lage og returnere *dictionarien* **weather**,der nøkkelen er ett heltall som starter med verdien 1 og teller oppover (representerer dagen for måling). Hvert innslag i *dictionarien* skal være en liste av verdier for temperatur, nedbør, luftfuktighet og vind. Verdiene for **weather** med nøkkel 1 skal inneholde værdata for dag 1, **weather** med nøkkel2 skal inneholde værdata for dag 2 og så videre.

Eksempel på kall av funksjonen og hva den returnerer:
```python
>>> temp = [1,5,3]
>>> rain = [0,30,120]
>>> humidity = [30,50,65]
>>> wind = [3,5,7]
>>> weather = create_db(temp,rain,humidity,wind)
>>> weather
{1: [1, 0, 30, 3], 2: [5, 30, 50, 5], 3: [3, 120, 65, 7]}
>>>
```

In [ ]:
#skriv koden din her

### Oppgave 4e) (5%)

Lag en funksjon **`print_db`** som har inn-parameteren **weather**,som er en dictionary som beskrevet i oppgave 4d. Funksjonen skal skrive ut innholdet i **weather** på skjerm etter følgende format og med overskrift som vist på utskriften nederst i deloppgaven:
* Day(dag) –høyrejustert med 4 tegn
* Temp (temperatur)–høyrejustert med 6 tegn
* Rain (nedbør)–høyrejustert med 6 tegn
* Humidity (luftfuktighet)–høyrejustert med 10 tegn
* Wind (vind)–høyrejustert med 6 tegn

Eksempel på kall av funksjonen ved bruk av dictionarien fra oppgave 4d:
```p
>>> print_db(weather)
Day | Temp | rain | humidity | wind
====+======+======+==========+======
   1      1      0         30      5
   2      5     30         50      3
   3      3    120         65      7
>>>
```

In [ ]:
#skriv koden din her

### Oppgave 4f) (10%)

Lag funksjonen **`strange_weather`** som har inn-parameterne **temp** og **rain**,som er to tabeller med data for temperaturer og regn av lik størrelse (samme antall elementer). Funksjonen skal returnere **start** (startdag)og **stop** (sluttdag)for det lengste intervallet der det er minusgrader, samt at temperaturen faller samtidig som nedbørsmengden stiger i etterfølgende dager. Indekseringen av dager starter på 1. Hvis ingen etterfølgende dager har denne karakteristikken, returneres (0,0).

Eksempel på kall av funksjonen(med intervall som oppfyller kravet uthevet):
```python
>>> temp=[1,3, 4,-5,-6,-7,-8,-9,3,0]
>>> rain=[0,20,30,0,10,30,50,0,5,2]
>>> (start, stop) = strange_weather(temp,rain)
>>> start
4
>>> stop
7
>>>
```

In [ ]:
#skriv koden din her

# Eksamensoppgaver fra TDT4127

De følgende eksamensoppgavene er tatt fra TDT4127, et fjerdeklassefag hvor pensum er mye større enn i dette faget. Vektingene er tilpasset denne øvingen, og oppgavene er noe modifiserte for å passe inn i pensum. De er tatt med for at den totale arbeidsmengden i notebooken skal være noenlunde likt eksamen som kommer.

## Høsten 2020

### Oppg 1a) (5%)

Du er gitt en tekstfil med en liste av navn til studenter. Ta for eksempel fila <a href="students.txt">students.txt</a>, der innholdet er:

```txt
1 Ola Nordmann
2 Kari Olsen
3 Otto Hansen
```

Skriv en funksjon `file_to_list(filename)` som gitt et filnavn `filename` returnerer en liste med strings. Hver string skal være navnet til en student, uten tallet foran.

Gitt fila over bør output være 
```python
>>> file_to_list("students.txt")
["Ola Nordmann", "Kari Olsen", "Otto Hansen"]
```

In [ ]:
# Skriv koden din her

### Oppg 1b) (5%)

Du ønsker å lage en liste av brukernavn fra en liste med navn. Et brukernavn er de første seks bokstavene i fornavnet konkatenert med de første tre bokstavene i etternavnet. Brukernavnet skal bare ha små bokstaver. Dersom fornavnet er kortere enn seks bokstaver eller etternavnet er kortere enn tre bokstaver skal du ta med alle bokstavene i det navnet.

Lag en funksjon `create_username_list(name_list)` som returnerer en liste av brukernavnene til alle navnene i `name_list`.

```python
>>> create_username_list(["Ola Nordmann", "Kari Olsen", "Alexander Hansen"])
["olanor", "kariols", "alexanhan"]
```

In [ ]:
# Skriv koden din her

### Oppg 1c) (5%)

Du er gitt en liste med brukernavn, for eksempel

```python
username_list = ["olanor", "kariols", "ottohan", "olanor", "kariols"]
```

Dessverre er det slik at måten brukernavnene opprettes på ikke er perfekt. Det er fort gjort at flere studenter får samme brukernavn. Lag en funksjon `fix_duplicates(username_list)` som sjekker om det er duplikater og legger til en ekstra `"a"` til slutten av ett av de. Du kan anta at det finnes _maks to_ av hvert brukernavn.

```python
>>> fix_duplicates(["olanor", "kariols", "olanor"])
["olanor", "kariols", "olanora"]
```

In [ ]:
# Skriv koden din her

### Oppg 1d) (5%)

Du er gitt to lister: den ene inneholder en liste av navnene til studentene i klassen, den andre de respektive brukernavnene.

Skriv en funksjon `create_username_dict(name_list, username_list)` som lager en dictionary man kan bruke til å finne brukernavn gitt et navn. 

Eks: 
```python
>>> name_list = ["Ola Nordmann", "Kari Olsen", "Roger Jensen"]
>>> username_list = ["olanor", "kariols", "rogerjen"]
>>> create_username_dict(name_list, username_list)
{
    "Ola Nordmann": "olanor",
    "Kari Olsen": "kariols",
    "Roger Jensen": "rogerjen"
}
```

In [ ]:
# Skriv koden din her

### Oppg 1e) (7.5%)

Skriv en funksjon `plot_cos()` som plotter funksjonene $cos(kx)$ for $k = 1, 2, 3$ på intervallet $[0, 2\pi]$

Plottet bør ha de følgende egenskapene:
- x-label skal være "x"
- y-label skal være "y"
- tittelen skal være "cos med forskjellige bølgetall"
- legenden må fortelle oss hvilke verdier av $k$ som tilhører hvilken kurve

_Hint: Numpy inneholder en cosinusfunksjon,_ `np.cos(x)`

Eks:  
![](cosines.png)

In [1]:
# Skriv koden din her

### Oppgave 1f) (7.5%)

Du er gitt en liste med elever som hører til et fag. Du skal dele dem opp i _tilfeldige_ grupper på fire. Dessverre er det ikke garantert at antall elever er delelig med fire. Der kan være en, to eller tre elever til overs. Du kan anta at antall elever er større enn seks.

Når det er elever til overs skal programmet oppføre seg slik:
- Dersom det er 1 elev ekstra skal den settes inn i en eksisterende gruppe slik at det blir en gruppe på 5.
- Dersom det er 2 elever ekstra skal de settes inn i en eksisterende gruppe hver slik at det blir to grupper på 5.
- Dersom det er 3 elever ekstra skal de bli en gruppe på 3.

Lag en funksjon `create_groups(name_list)` som grupperer elevene etter reglene over. Merk at gruppene skal være tilfeldige, og at de skal være tupler. 

Eksempel, 1 til overs:
```python
>>> create_groups(["Ola", "Kari", "Egil", "Hans", "Magnus", "Kjetil", "Hanne", "Kristin", "Jens"])
[
    ("Kari", "Hanne", "Jens", "Egil"), 
    ("Kjetil", "Ola", "Hans", "Kristin", "Magnus")
]
```

Eksempel, 3 til overs:
```python
>>> create_groups(["Ola", "Kari", "Egil", "Hans", "Magnus", "Kjetil", "Hanne", "Kristin", "Jens", "Henriette", "Siv"])
[
    ("Kari", "Siv", "Hanne", "Jens"), 
    ("Egil", "Henriette", "Kristin", "Magnus"), 
    ("Kjetil", "Ola", "Hans")
]
```

_Tips: I standardbiblioteket til python finnes det en modul for å printe ekstra pent (pretty-print). Den kalles på slik:_

In [5]:
import pprint
pprint.pprint({"et": ["komplekst", "objekt", "med", "mange", "ting", ["og", "er", {"nøstet": "hvorfor?"}]], "som_er": 0, "vanskelig å": "lese"})

{'et': ['komplekst',
        'objekt',
        'med',
        'mange',
        'ting',
        ['og', 'er', {'nøstet': 'hvorfor?'}]],
 'som_er': 0,
 'vanskelig å': 'lese'}

### Oppgave 1g) (5%)

Skriv en funksjon `flatten(listy)` som tar inn en matrise (2d-liste) av vilkårlige dimensjoner og returnerer en 1d-liste med de samme elementene.

```python
>>> listy = [[1, 2], [3, 4]]
>>> flatten(listy)
[1, 2, 3, 4]
```

In [ ]:
# Skriv koden din her

## Kont 2019

### 5) Lese fra tekstfil (5%)

Du er quizmaster på en pub, og elsker å stille obskure spørsmål om blant annet hovedstader og vil lage et Python-program for å automatisk sjekke fasit på en del mulige spørsmål. Du har allerede laget en tekstfil med nyttig data du fant på Wikipedia.

```txt
1;China PR;Beijing;20,693,000;1.52%
2;India;New Delhi;16,787,949[2];1.10%
3;Japan;Tokyo;13,491,000[3];10.67%
4;Philippines;Manila;12,877,253[4];12.8%
5;Russia;Moscow;11,541,000[5];8.07%
6;Egypt;Cairo;10,230,350;11.10%
``` 

Det første steget er å lage en funksjon som leser alle disse linjene til en liste av strenger, der hver streng tilsvarer en linje.

Eks:
```python
['1;China PR;Beijing;20,693,000[1];1.52%', '2;India;New Delhi;16,787,949[2];1.10%',
'3;Japan;Tokyo;13,491,000[3];10.67%', '4;Philippines;Manila;12,877,253[4];12.8%',
'5;Russia;Moscow;11,541,000[5];8.07%', '6;Egypt;Cairo;10,230,350;11.10%' ]
```

Sett sammen de følgende linjene med kode til en fullstendig funksjon som beskrevet over. Husk riktig indentering:

- `with open(filename, 'r') as file`
- `result.append(line.strip())`
- `for line in file:`
- `return result`
- `result = []`
- `def file_to_list(filename):`

In [ ]:
with open(filename, 'r') as file
result.append(line.strip())
for line in file:
return result
result = []
def file_to_list(filename):

### 6) Konvertere til tall (5%)

På Wikipedia, og dermed også i fila du har lagd, har folketallene til hovedstadene inkludert komma for hvert tredje siffer for å øke leseligheten. Bak noen av tallene er det også fotnoter i klammeparanteser, se f.eks. Tokyo. `13,491,000[3]`. For å kunne konvertere fra streng til tall må vi kvitte oss med både klammeparanteser og heltall.

Skriv en funksjon `population_to_int(population)` som tar inn en string og returnerer et heltall. Du kan anta at strengen som kommer inn ikke inneholder noen andre uvedkommede tegn enn fotnoter og komma.

Eksempel på kjøringer
```python
>>> population_to_int('13,491,000[3]')
13491000
>>> population_to_int('10,230,350')
10230350
>>> population_to_int('1,435')
1435
```

In [ ]:
# Skriv koden din her

#### Her skulle det vært oppgaver 7-9, men de er tatt ut

### 10) Unike bokstaver (7.5%)

Du er nå gitt en ferdig behandlet 2d-liste på følgende format:

```python
countries = [
    ["China PR", "Beijing", 20693000],
    ["India", "New Delhi", 16787949],
    ["Japan", "Tokyo", 13491000],
    ["Philippines", "Manilla", 12877253],
    ["Russia", "Moscow", 11541000],
    ["Egypt", "Cairo", 10230350]
]
```

Altså `[land, hovedstad, folketall]`. Skriv en funksjon `no_common_letters(countries)` som gitt denne listen finner alle land-hovedstad par med ingen felles bokstaver i navnet.

Eks med listen over:

```python
>>> no_common_letters(countries)
[["Japan", "Tokyo"], ["Egypt", "Cairo"]]
```

In [ ]:
# Skriv koden din her

#### Her skulle det vært en oppgave 11, men den er tatt ut

### 12) Lage dictionary (7.5%)

En annen spørsmålstype du vurderer til quizzen din dreier seg om hovedstadsnavn hvor ingen bokstav forekommer to eller flere ganger. F.eks. vil "Berlin" tilfredsstille dette, med 6 unike bokstaver, mens "Oslo" ikke, fordi det har to "o"-er. 

Funksjonen `unique_letters()` skal gå gjennom hele lista av hovedsteder, med format som gitt tidligere:

```python
countries = [
    ["China PR", "Beijing", 20693000],
    ["India", "New Delhi", 16787949],
    ["Japan", "Tokyo", 13491000],
    ["Philippines", "Manilla", 12877253],
    ["Russia", "Moscow", 11541000],
    ["Egypt", "Cairo", 10230350]
]
```

Den skal finne alle hovedstader som tilfredsstiller kravet, og returnere en **dictionary**. Nøkkelen i dictionaryet skal være **antall bokstaver**. 
Resultatet (med en liste som inneholdt alle hovedsteder i verden) ville inneholdt blant annet dette:

```python
{
    10: ["Bridgetown"],
    7: ["Algiers", "Yaoundé", "Conakry", "Belfast"],
    9: ["Singapore", "Bucharest", "Mogadishu", "Edinburgh"],
    ...
}
```

Merk at "Port Vila" hører til i kategorien for 8 bokstaver, ikke 9, altså mellomrom teller _ikke_ som bokstaver.

In [ ]:
# Skriv koden din her